
.container-back{
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: white;
    opacity: 0.8;
}

.navbar-pop{
    height: 90px;
}

.imagen{
    width: 100%;
    height: 90px;
}

.font-containerf{
    background-image: url(/res1.jpg);
    height: 300px;
}

.fondo-pant{
    height: 100vh;
}

.btn-aceptar{
    position: relative;
    top: 35px;
    left: 92px;
    width: 38%;
    margin-right: 2%;
    text-align: center;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-size: 17px;
    border-radius: 6px;
    padding: 1%;
}

.setenal{
    
}

.logo{
    text-align: center;
    font-weight: bold;
    background-color: #628AFF;
    color:white;
}